@charset "UTF-8";

body {
    background-color: lightblue;
    font: 18pt Arial
    
}

h1 {
    text-align: center;
}
section {
    background-color: white;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.301);
    margin: auto;
}

input#botao {
    font-size: 12pt;
}