body {
    font: 15pt arial;
    background-color: rgb(45, 131, 202);

}

h1 {
    color: white;
    text-align: center;
}
section {
    width: 500px;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.336);

}

img {
    padding-top: 10px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}

div#res {
    padding: 10px;
}

footer {
    text-align: center;
    color: white;
    font-weight: bold;
}
