
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    width: 30%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(68, 68, 209);
    color: white;
    padding: 20px;
    border-radius: 5px;
}

.content input {
    width: 70%;
    height: 40px;
    padding: 15px;
    font-size: 1em;
    outline: none;
    border: none;
    border-radius: 5px;
}

.content input::placeholder {
    font-weight: bold;
    text-transform: uppercase;
}

.content button {
    width: 70%;
    height: 40px;
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
}

.saida {
    width: 30%;
    margin-top: 30px;
    padding: 15px;
    text-align: center;
}