@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

body {
    font: 12pt Arial;
}
h1,h2 {
    font-size: 25pt;
    font-family: 'Pacifico', cursive;
    font-weight: normal;
}

input.dado {
    padding: 1px;
    width: 65px;
    font-size: 12pt;
}
input#botao {
    padding: 5px;
    font-size: 12pt;
    background: green;
    color: white;
}