
body {
    font: 18pt Arial;
    background-color: lightblue;
}
h1 {
    text-align: center;
}
section {
    width: 500px;
    background-color: white;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.247);

}
input#botao {
    font-size: 12pt;
}