
body {
    font: 18pt Arial;
    background-color: lightblue;
    
}
h1 {
    text-align: center;
}
section {
    background-color: white;
    width: 500px;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.267);
}

input#botao {
    font-size: 12pt;
}