
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: black;
}

h1 {
    max-width: 480px;
    text-align: center;
    margin: 60px auto;
    color: white;
}

h1::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: piscar 0.7s infinite;
}

@keyframes piscar {

    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}