
body {
    background-color: lightblue;
    font: normal 18pt arial
}

h1 {
    text-align: center;
}

input {
    width: 150px;
}

div#res {
    padding: 20px;
    
}
section {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

footer {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}